.vscode/
notebook/rdp.cfg
notebook/.ipynb_checkpoints/
note.txt
python_embedded/~$rdp_ipa_bond.xlsm
python_embedded/manster_rdp_ipa_bond.xlsm
python_embedded/~$manster_rdp_ipa_bond.xlsm
notebook/Intel_vs_AMD.ipynb
notebook/Intel_vs_AMD_work.ipynb
notebook/Search.ipynb
notebook/Search2.ipynbฃ
notebook/amd.pkl
notebook/intel.pkl
notebook/note.txt
notebook/data/
notebook/dev_works
dev_works/
debug.log